<div class="form-signin" >
  <form (ngSubmit)="logIn(login, psw)" #loginForm="ngForm" class="text-center" appIdentityRevealed>
    <input type="email" name="lgn" placeholder="login" class="form-control" [(ngModel)]="login" #lg="ngModel" required email />
    <div *ngIf="lg.invalid && (lg.dirty || lg.touched)" class="alert alert-danger">
      <div *ngIf="lg.errors.required">
        Login is required
      </div>
      <div *ngIf="lg.errors.email">
        Email is not valid
      </div>
    </div>

    <input type="password" name="ps" placeholder="password" class="form-control" [(ngModel)]="psw" #pwd="ngModel" required />
    <div *ngIf="pwd.invalid && (pwd.dirty || pwd.touched)" class="alert alert-danger">
      <div *ngIf="pwd.errors.required">
        Password is required.
      </div>
    </div>

    <button class="btn btn-lg btn-primary btn-block" [disabled]="loginForm.invalid">Log in</button>
    <span class="incorrectSpan" *ngIf="incorrect == true">Login or password incorrect</span>
  </form>
  <a routerLink="/signup">
    <button class="btn-lg btn-default btn-block">Sign up</button>
  </a>
</div>
